<ion-view name ="beranda" animation="slide-left-right" view-title="Futon line">
  <ion-content>
     <div class="list card stable-bg">
                <div class="item item-avatar">
                    <img src="img/gemionic/profile-image.jpg">
                    <h2>Ricky Merbiansyah</h2>
                    <p>Permata FC</p>
                </div>
                <div class="item item-body">
                    Ayo ayo siapa yang mau tanding !!!
                    <p>
                        <a class="subdued">1 Like</a>
                        <a class="subdued">5 Comments</a>
                    </p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-thumbsup"></i> Like
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-chatbox"></i> Comment
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-share"></i> Share
                    </a>
                </div>
            </div>
     <div class="list card stable-bg">
                <div class="item item-avatar">
                    <img src="img/lap2.jpg">
                    <h2>Fivecode</h2>
                    <p>Fivecode Corp</p>
                </div>
                <div class="item item-body">
                    Futsal Kemerdekaan , live turnament 32 team at futsal 35 antapani jam 4 sore 
                    antara tim Cuplix Vs Juventini Bandung
                    <p>
                        <a class="subdued">1 Like</a>
                        <a class="subdued">5 Comments</a>
                    </p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-thumbsup"></i> Like
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-chatbox"></i> Comment
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-share"></i> Share
                    </a>
                </div>
            </div>
     <div class="list card stable-bg">
                <div class="item item-avatar">
                    <img src="img/gemionic/profile-image-6.jpg">
                    <h2>Cipta Kusumah</h2>
                    <p>Bengeut Futsal Club</p>
                </div>
                <div class="item item-body">
                   	Ready to win my teammm
                    <p>
                        <a class="subdued">1 Like</a>
                        <a class="subdued">5 Comments</a>
                    </p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-thumbsup"></i> Like
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-chatbox"></i> Comment
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-share"></i> Share
                    </a>
                </div>
            </div>            
  </ion-content>
</ion-view>
