<ion-view view-title="Browse">
  <ion-content>
    <div class="news-item">
      <div class="news-thumb">
        <img src="img/gemionic/profile-image.jpg" alt="" class="img">

      </div>
      <div class="news-content">
        <h4>Ricky Merbiansyah</h4>
        <div class="gem-tiny-text news-item-stats">
          <i class="icon ion-clock"></i> 2 days ago
          <span class="news-comment-summary">
            <i class="icon ion-heart"></i> 2 
            <i class="icon ion-chatbubble"></i> 3
          </span>
        </div>
      </div>
      <div class="news-more-action">
        <i class="icon ion-more"></i>
      </div>
       <textarea>Ikuti Event turnament futsal di bandung timur Registrasi Fee :250K!</textarea>
    </div>
  </ion-content>
</ion-view>
