<ion-view view-title="Buat Tim">
  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
    <div class="col">
      <div class="list list-inset removePM">
        <label class="item item-input"><input type="text" placeholder="Nama Tim"> </label>
        <label class="item item-input"><input type="text" placeholder="Berdiri"> </label>
      </div>
      <div class="list list-inset removePM">
        <label class="item item-input"><B>Masukan logo</B></label>
        <label class="item item-input"><input type="file" placeholder="logo"></label>
      </div>
      <div class="loginButton"><button class="button button-block button-balanced"> Buat </button>  </div>
    </div>
  </div>

  </ion-content>
</ion-view>