<ion-view view-title="Buat tim futsal">
  <ion-content>
    <div class="news-item">
 <form ng-submit="doLogin()" class="gem-form">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nama Tim</span>
          <input type="text" ng-model="loginData.username" placeholder="Username">
        </label>
        <label class="item item-input">
          <span class="input-label">Berdiri</span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
             <label class="item item-input">
          <span class="input-label">Berdiri</span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
         <label class="item item-input">
          <span class="input-label">Logo</span>
          <input type="file" ng-model="loginData.password" placeholder="Password">
        </label>
          <label class="item item-input">
          <span class="input-label">Logo</span>
          <input type="file" ng-model="loginData.password" placeholder="Password">
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Buat</button>
        </label>
       
      </div>
    </form>
   
    </div>
  </ion-content>
</ion-view>
