<ion-view title="Lapangan 1" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header gem-ion-content">
    <div class="tabs gem-position-static profile-tabs">    
      <a class="tab-item"  ng-repeat="d in tg" ng-click="filter(d.day,tg)" 
      ng-class="{active:d.day==oke}">
        <p style="font-size: 1.7em;">{{d.day}}</p>
      </a>     
    </div>
    <div class="list">
      <div class="item item-input-inset" ng-repeat="jdw in jadwals.jadwal | filter:myFilter">
        <p style="font-size: 0.9em; background: #666;color: #fff;padding: 0px 15px;display: inline-block;border-radius: 6px;">{{jdw.time}}</p>
        <div ng-if="jdw.team_id!=null">
       <a class="item item-assertive" href="" style="font-size: 0.9em;margin-left:20px;padding-top:0;padding-bottom:0;" ng-disabled="true">{{jdw.team_id}}</a>  
        </div>
        <div ng-if="jdw.team_id==null">    
                <a class="item item-block item-balanced" href="" style="font-size: 0.9em;margin-left:20px;padding-top:0;padding-bottom:0;">Available</a> 
        </div>
      </div>      
    </div>
  </ion-content>
</ion-view>
