<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Profil Saya">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-edit"></button>
  </ion-nav-buttons>
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- ======================
    GEMIONIC PROFILE SECTION
    ====================== -->
    <div class="gem-profile-media">
      <div class="gem-profile-details profile2">
        <!-- Profile Name -->
         <img src="img/lap2.jpg" width="96" height="74" alt="" class="gem-circle profile-image">
        <h3 class="gem-white">Ricky Merbiansyah</h3>
        <!-- Profile Description text -->
        <p>Permata Biru Footbal Club sejak 1996</p>
        <!-- text stats -->
      </div>
      <!-- Background Image -->
      <img src="img/gemionic/post-img.jpg" alt="" class="fluid-image profile-background-image" style="vertical-align:middle;">
    </div>
    <!-- ======================
    END GEMIONIC PROFILE SECTION
    ====================== -->

    <!-- Basic Tabs - not hooked qith angular -->
    <div class="tabs gem-position-static profile-tabs">
      <a class="tab-item active">
        <i class="ion-ios7-paper"></i> Informasi Details
      </a>
      <a class="tab-item">
        <i class="ion-images"></i> Riwayat
      </a>      
    </div>

    <div class="profile-feed">
          <div class="title">
          <h4><i class="ion-images"></i> <b>Profile</b> </h4>
        </div>
   <div class="list">
    
                <div class="item">                
                    <h2>Nama Lengkap</h2>
                    <p>Ricky Merbiansyah</p>
                </div>
                <div class="item">                    
                    <h2>Tim</h2>
                    <p>Permata Biru Futsal Club ( 2015 )</p>
                </div>
                <div class="item">                    
                    <h2>Kapten Tim</h2>
                    <p>Endang Soekamti</p>
                </div>             
            </div>


  </ion-content>
</ion-view>
