<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <!-- Splash background - refer to .gem-splash_background in css/style.css to change image -->

    <div class="gem-form text-center" style="margin-top:90%;">
      <!-- Logo as you please -->

      <!-- end Logo -->
    <video autoplay loop poster="" id="bgvid">

    <source src="ot.webm" type="video/webm">

    <source src="ot.mp4" type="video/mp4">

    </video>
      <!-- buttons. .button-rounded can be added for more roundness -->
      <button ng-click="login()" ng-hide="hid" class="button icon-left button-outline">Masuk</button>
     
      <!-- end buttons -->
    </div>    

</ion-view>