<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <!-- Splash background - refer to .gem-splash_background in css/style.css to change image -->
  <ion-content class="gem-splash_background">
    <div class="gem-form text-center" style="margin-top:50%;">
      <!-- Logo as you please -->
      <div class="gem-splash-logo" style="margin-bottom:20%;">
        <img src="img/gemionic/futon-logo.png" alt="Logo">
        <h3 class="gem-white">Fut ON</h3>
      </div>
      <!-- end Logo -->

      <!-- buttons. .button-rounded can be added for more roundness -->
      <button ng-click="login()" class="button button-borderless button-rounded button-balanced ">Masuk</button>
       <button ng-click="daftar()" class="button button-outline button-rounded gem-white">Daftar</button>
      <!-- end buttons -->
    </div>    
  </ion-content>
</ion-view>