<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Tim saya : Permata Biru Footbal Club">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-edit"></button>
  </ion-nav-buttons>
  
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- ======================
    GEMIONIC PROFILE SECTION
    ====================== -->
    <div class="gem-profile-media">
      <div class="gem-profile-details profile2">
          <img src="img/lap2.jpg" width="96" height="74" alt="" class="gem-circle profile-image">
        <h3 class="gem-white">PBFC</h3>
        <p>Mari ramaikan khazanah perfutsalan di bandung ini</p>
        <div class="gem-center">
          [ Keluar Tim ]
        </div>
      </div>
      <!-- Background Image -->
      <img src="img/gemionic/post-img.jpg" alt="" class="fluid-image profile-background-image">
    </div>

    <!-- Profile Stats - ionic '.row' extended with profile-3. .gem-center centralizes -->
    <div class="row profile-stats profile-3 gem-center">
      <div class="col stat">
        <h5 class="gem-white"><i class="ion-heart gem-white"></i> 1 Emas</h5>
      </div>
      <div class="col stat">
        <h5 class="gem-white"><i class="ion-chatbubble gem-white"></i> 2 Perak</h5>
      </div>
      <div class="col stat">
        <h5 class="gem-white"><i class="ion-person gem-white"></i>1 Perunggu </h5>
      </div>
    </div>
        <div class="profile-feed">
          <div class="title">
          <h4><i class="ion-images"></i> <b>Informasi Tim</b> </h4>
        </div>
   <div class="list">
    
                <div class="item">                
                    <h2>Homebase</h2>
                    <p>Futsal Trinity Bandung</p>
                </div>
                <div class="item">                    
                    <h2>Berdiri</h2>
                    <p>Februari, 2016</p>
                </div>
                <div class="item">                    
                    <h2>Kapten Tim</h2>
                    <p>Endang Soekamti</p>
                </div>             
            </div>
    <!-- Profile Feed -->

        <!-- Title and Button -->
        <div class="title">
          <h4><i class="ion-images"></i> <b>Photo</b> </h4>
        </div>
        <!-- Title and Button -->

        <!-- Gemionic Gallery (extends .row with .row-wrap for easy ng-repeat) -->
        <div class="gem-gallery row row-wrap">
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-1.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-2.jpg" alt=""></div>
          <div class="col-33 thumb"><img src="img/gemionic/gall-item-3.jpg" alt=""></div>
        </div>
        <!-- End Gemionic Gallery -->

       
        <!-- Title box -->
        <div class="title padding">
          <h4>
            <i class="ion-images"></i> <b>Anggota Tim (16)</b> 
            <a href="" class="button button-light button-small gem-more-button">
              View More 
              <i class="ion-chevron-right"></i>
            </a>
          </h4>
        </div>
        <!-- End Title box -->

        <!-- Friend List (Grid) Refer to templates/social/friend-grid.html -->
        <div class="gem-friend-grid clearfix">
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
            <P>udin</P>
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
            <P>surip</P>
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
            <P>wahyu</P>
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
            <P>ole</P>
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
            <P>harda</P>
          </div>
          <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
            <P>oded</P>
          </div>
        </div>
        <!-- End Friend list (Grid) -->

      </div>
  </ion-content>
</ion-view>
